.glide {
  position: relative;
  width: 100%;
  box-sizing: border-box; }
  .glide * {
    box-sizing: inherit; }
  .glide__track {
    overflow: hidden; }
  .glide__slides {
    position: relative;
    width: 100%;
    list-style: none;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    touch-action: pan-Y;
    overflow: hidden;
    padding: 0;
    white-space: nowrap;
    display: flex;
    flex-wrap: nowrap;
    will-change: transform; }
    .glide__slides--dragging {
      user-select: none; }
  .glide__slide {
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    white-space: normal;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent; }
    .glide__slide a {
      user-select: none;
      -webkit-user-drag: none;
      -moz-user-select: none;
      -ms-user-select: none; }
  .glide__arrows {
    -webkit-touch-callout: none;
    user-select: none; }
  .glide__bullets {
    -webkit-touch-callout: none;
    user-select: none; }
  .glide--rtl {
    direction: rtl; }

.glide__arrow {
  position: absolute;
  display: block;
  top: 50%;
  z-index: 2;
  color: white;
  text-transform: uppercase;
  padding: 9px 12px;
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 4px;
  box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.1);
  text-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.1);
  opacity: 1;
  cursor: pointer;
  transition: opacity 150ms ease, border 300ms ease-in-out;
  transform: translateY(-50%);
  line-height: 1; }
  .glide__arrow:focus {
    outline: none; }
  .glide__arrow:hover {
    border-color: white; }
  .glide__arrow--left {
    left: 2em; }
  .glide__arrow--right {
    right: 2em; }
  .glide__arrow--disabled {
    opacity: 0.33; }

.glide__bullets {
  position: absolute;
  z-index: 2;
  bottom: 2em;
  left: 50%;
  display: inline-flex;
  list-style: none;
  transform: translateX(-50%); }

.glide__bullet {
  background-color: rgba(255, 255, 255, 0.5);
  width: 9px;
  height: 9px;
  padding: 0;
  border-radius: 50%;
  border: 2px solid transparent;
  transition: all 300ms ease-in-out;
  cursor: pointer;
  line-height: 0;
  box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.1);
  margin: 0 0.25em; }
  .glide__bullet:focus {
    outline: none; }
  .glide__bullet:hover, .glide__bullet:focus {
    border: 2px solid white;
    background-color: rgba(255, 255, 255, 0.5); }
  .glide__bullet--active {
    background-color: white; }

.glide--swipeable {
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab; }

.glide--dragging {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

.page-container {
  display: flex;
  flex-direction: column; }

body {
  font-family: "Lato", "sans-serif";
  font-weight: 400;
  line-height: 1.7;
  color: #333; }

a {
  text-decoration: none; }

.heading-primary--slogan {
  color: #fff;
  display: block;
  font-weight: 300;
  font-size: 2rem;
  letter-spacing: 0.5rem;
  text-transform: uppercase; }

.heading-primary--main {
  color: #fff;
  display: block;
  text-align: center;
  font-size: 3rem;
  padding: 30px; }

.heading-secondary {
  display: block;
  font-weight: 400;
  font-size: 2.5rem;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  color: #900; }

.btn__primary {
  cursor: pointer;
  font-size: 1.6rem;
  text-transform: uppercase;
  color: #fff;
  background-color: #0692b5;
  padding: 1.5rem;
  border-radius: 3px;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15); }
  .btn__primary:hover {
    background-color: #309ab5;
    color: #fff;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn__primary-cta-2 {
    background-color: #00ccff; }

.header {
  height: 80vh;
  position: relative;
  background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7)), url("./img/hero.jpg");
  background-size: cover;
  background-position: top; }
  .header__text-box {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    width: 60rem;
    transform: translate(-50%, -50%); }
  .header__btn-box {
    margin-top: 5rem;
    display: flex;
    justify-content: space-evenly; }

.about {
  flex: 0 0 50%; }

.services {
  padding: 4rem 0; }
  .services__list {
    margin: 5px 0;
    font-size: 1.6rem; }
    .services__list-item {
      padding: 1rem 0; }

.glide {
  width: 60rem; }

.about {
  display: flex;
  padding: 4rem 0;
  justify-content: center;
  background-color: #f9f9f9; }
  .about-container {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 4rem 0;
    height: 100%; }

.biography {
  flex-direction: column;
  flex: 0 0 50%;
  padding: 4rem 0;
  margin: 0 50px;
  align-self: center;
  justify-content: center; }
  .biography__image-box {
    display: flex;
    width: 30rem;
    height: 30rem;
    margin: 0 auto; }
    .biography__image-box img {
      object-fit: cover;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      border: 1px solid #ccc;
      box-shadow: 5px 5px 25px rgba(60, 60, 60, 0.1); }
  .biography__text-box {
    max-width: 45rem;
    font-size: 1.6rem;
    padding: 4rem 0;
    font-weight: 700;
    margin: 0 auto;
    text-align: center; }

.services {
  flex: 0 0 50%;
  padding: 6rem 0;
  margin: 0 50px;
  max-width: 300px; }
  .services__list {
    margin: 5px 0;
    font-size: 1.6rem; }
    .services__list-item {
      padding: 1rem 0; }
