.about {
    display: flex; 
    padding: 4rem 0;
    justify-content: center;
    background-color: #f9f9f9;
    
    &-container {
        display: flex;
        justify-content: center;
        margin: 0 auto;
        padding: 4rem 0;
        height: 100%;
    }
}

.biography {
    flex-direction: column;
    flex: 0 0 50%;
    padding: 4rem 0;
    margin: 0 5rem;
    align-self: center;
    justify-content: center;

    &__image-box {
        display: flex;
        width: 30rem;
        height: 30rem;
        margin: 0 auto;
       
        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            border: 1px solid #ccc;
            box-shadow: 5px 5px 25px rgba(60, 60, 60, 0.1);
        }

    }

    &__text-box {
        max-width: 45rem;
        font-size: 1.6rem;
        padding: 4rem 0;
        font-weight: 700;
        margin: 0 auto;
        text-align: center;
    }
}

.services {
    flex: 0 0 50%;
    padding: 6rem 0;
    margin: 0 5rem;
    max-width: 30rem;
    &__list {
      margin: 5px 0;
      font-size: 1.6rem;
       &-item {
         padding: 1rem 0; 
       }
    }
  }


