
.header {
  height: 85vh;
  position: relative;
  background-image: linear-gradient(
      to right bottom,
      rgba(#000, 0.8),
      rgba(#000, 0.7)
    ),
    url('./img/hero.jpg');
  background-size: cover;
  background-position: top;

  &__text-box {
    position: absolute;
    text-align: center;
    top: 65%;
    left: 50%; 
    width: 60rem;
    transform: translate(-50%, -50%);
  }

  &__btn-box {
    margin-top: 5rem;
    display: flex; 
    justify-content: space-evenly;
  }
}

